# yaml-language-server: $schema=https://unpkg.com/@sveltia/cms/schema/sveltia-cms.json

backend:
  name: github
  repo: retrospatial/website
  branch: main
  skip_ci: true

media_folder: /static/blog
public_folder: /blog

collections:
  - name: posts
    label: Posts
    folder: /content/posts
    create: true
    slug: "{{year}}/{{slug}}"
    fields:
      - label: Title
        name: title
        widget: string
        required: true

      - label: Slug
        name: slug
        widget: string
        required: true
        pattern: ['^[a-z0-9]+(?:-[a-z0-9]+)*$', 'Slug must be lowercase with hyphens only']

      - label: Description
        name: desc
        widget: string
        required: true

      - label: Cover
        name: cover
        widget: image
        required: false

      - label: Body
        name: body
        widget: markdown
        required: true

      - label: Date
        name: date
        widget: datetime
        format: YYYY-MM-DD
        time_format: true

      - name: tags
        label: Tags
        widget: relation
        multiple: true
        collection: tags
        search_fields: [title]
        display_fields: [title]
        value_field: '{{slug}}'

  - name: tags
    label: Tags
    label_singular: Tag
    folder: /content/tags
    create: true
    slug: "{{slug}}"
    identifier_field: title
    fields:
      - name: title
        label: Title
        widget: string
        required: true
      - name: description
        label: Description
        widget: text
        required: false
      - name: image
        label: Image
        widget: image
        required: false

